*
    margin: 0
    padding: 0
    font-family: 'Roboto', sans-serif
    list-style-type: none
    outline: none

.center
    width: 90%
    margin: 0 auto

.intro1
    background-image: url("../images/img_1.jpg")

.intro2
    background-image: url("../images/img_2.jpg")   

.intro3
    background-image: url("../images/img_3.jpeg")

.intro4
    background-image: url("../images/img_4.jpg")  

.wrapper
    max-width: 1800px
    width: 100%
    margin: 0 auto
    .container_header
        .top
            width: 100%
            height: 40px
            display: flex
            justify-content: flex-end
            align-items: center
            background-color: #e4e4e4
            font-size: 15px
            font-weight: 500
            color: black
            .bread_crumbs
                flex-grow: 1
                padding: 0 20px
            .basket
                padding-right: 20px
                border-right: 1px solid #a9a9a9
                cursor: pointer
            .authorization, .personalArea
                padding: 0 20px
                cursor: pointer
    .logo_info
        height: 150px
        display: flex
        justify-content: space-between
        align-items: center
        .logo
            display: flex
            flex-direction: column
            width: 6%
            color: blue
            cursor: pointer
            i
                font-size: 80px
            span
                margin-top: -15px
                font-size: 30px
                font-weight: 700
                text-transform: uppercase
                text-align: center
        .menu
            width: 50%
            ul
                display: flex
                justify-content: space-between
                align-items: center
                li
                    cursor: pointer
                    a
                        text-decoration: none
                        color: black
                        font-size: 18px
                        text-transform: uppercase
                        font-weight: 500
                        &:hover
                            border-bottom: 1px solid black
    .phone
        width: 25%
        display: flex
        justify-content: space-between
        align-items: center
        .time
            display: flex
            flex-direction: column
            i
                text-align: center
                font-size: 40px
                padding-bottom: 5px
                color: blue
            span
                padding-top: 5px
                font-weight: 500
        .numder_phone
            display: flex
            flex-direction: column
            align-items: center
            a
                text-decoration: none
                cursor: pointer
                color: black
                height: 25px
                span
                    font-weight: 700
                &:hover
                    text-decoration: underline
    .search_basket
        display: flex
        justify-content: space-between
        align-items: center
        height: 50px
        .search
            position: relative
            width: 70%
            margin: 0 auto
            background-color: white
            border-bottom: 1px solid #000000
            input, button
                width: 70%
                border: none
                outline: none
                background: transparent
            input
                width: 100%
                height: 42px
                padding-left: 15px
            button
                height: 42px
                width: 42px
                position: absolute
                top: 0
                right: 0
                cursor: pointer
                i
                    font-size: 15px
                    transition: .5s
                    &:hover
                        font-size: 20px
                        transition: .5s
        .wrapper_basket2
            width: 30%
            .basket2
                width: 200px
                display: flex
                justify-content: center
                align-items: center
                cursor: pointer
                i
                    padding: 0 5px 0 0
                    font-size: 30px
                .counter_products
                    display: inline-block
                    width: 18px
                    height: 18px
                    text-align: center
                    background-color: #e4e4e4
                    border-radius: 9px
                    font-size: 15px
                span
                    padding-left: 10px
                    font-size: 17px
    .container_products
            width: 100%
            padding-top: 20px
            .item
                display: flex
                justify-content: space-between
                height: 100px
                width: 100%
                box-shadow: 0 0 5px 0 #000
                text-align: center
                margin: 10px
                transition: .5s
                &:hover
                    box-shadow: 0 0 10px 1px #000
                    transition: .5s
                    cursor: pointer
                .img
                    width: 25%
                    height: 100px
                    background-size: cover
                    background-repeat: no-repeat
                    background-position: center
            .name
                font-size: 20px
                font-weight: 700
                align-self: center  
            .price
                align-self: flex-end
                padding-bottom: 10px
                font-size: 20px
                font-weight: 700
            .btn
                width: 100px
                align-self: center
                height: 50px
                margin-right: 20px
                cursor: pointer
    .container_products1
        width: 90%
        display: flex
        justify-content: space-around
        /** .products_vert
            margin-top: 30px
            width: 35%
            height: 500px
            background-color: #8d8d8d
            .twoSlider
                width: 100%
                height: 100%
                .swiper-wrapper
                    .inroImg
                        background-position: center
                        background-repeat: no-repeat
                        background-size: cover 
                    .picture1
                        background-image: url('../images/img_1.jpg')
                    .picture2
                        background-image: url('../images/img_2.jpg')
                    .picture3
                        background-image: url('../images/img_3.jpeg')
                    .picture4
                        background-image: url('../images/img_4.jpg') **/
    .container_carousel
        //height: 300px
        //width: 100%
        margin-top: 20px
        cursor: pointer
        .mainSlider
            width: 100%
            height: 100%
            .introMainSlider
                .swiper-slide
                    .picture
                        display: flex
                        justify-content: space-around
                        align-items: flex-end
                        width: 100%
                        height: 300px
                        background-position: center
                        background-size: cover
                        background-repeat: no-repeat
                        //.conteiner_countdown
                        //   display: flex
                        //    justify-content: center
                        //    align-items: center
                        //    min-height: 20vh
                        //    margin: 0
                        //    padding: 0
                        //    background: #354773
                        p
                            font-size: 35px
                            color: white
                            font-weight: 700
                            text-shadow: black 0 0 5px
                            padding-bottom: 20px
                        .wrapperSalePrice
                            display: flex
                            justify-content: center
                            align-items: center
                            .priсe, .sale
                                color: white
                                font-weight: 700
                                margin-bottom: 15px
                                text-shadow: black 0 0 5px
                                margin-right: 10px
                            .priсe
                                font-size: 32px
                                border: 2px solid red
                                padding: 0
                            .sale
                                font-size: 35px
                                background: red
                                padding: 0 5px
                    .countdown
                        display: flex
                        justify-content: center
                        align-items: center
                        position: absolute
                        top: 10px
                        right: 10px
                        background: rgba(0, 0, 255, 0.5)
                        padding: 5px 0
                        .time-section
                            display: flex
                            flex-direction: column
                            justify-content: center
                            align-items: center
                            color: #fff
                            padding: 0 30px
                            border-right: 1px solid #fff
                            user-select: none
                            &:last-child
                                border: none
                            .count
                                font-size: 50px
                            .units
                                font-size: 15px
    .buttonCatalogProducts
        margin-top: 20px
        display: flex
        justify-content: center
        align-items: center
        button
            width: 90%
            height: 50px
            cursor: pointer
            i, span
                font-size: 20px
            i
                padding-right: 20px
            span
                text-transform: uppercase
                font-weight: 700

            
        
    .infoProduct
        flex-direction: column
        //padding-top: 20px
        //padding-bottom: 20px
        .nameProduct
            font-size: 30px
            font-weight: 700
            padding-bottom: 10px
        .detailProduct
            width: 100%
            display: flex
            justify-content: space-between
            .posterProduct
                width: 60%
                .bigImage
                    width: 100%
                    height: 400px
                    background-position: center
                    background-repeat: no-repeat
                    background-size: cover
                .sliderImage
                    width: 100%
                    height: 200px
                    .infoProductSlider
                        padding: 10px 0
                        background-color: #7e7e7e
                        .infoProductSliderWrapper
                            width: 100%
                            height: 200px
                            .sliderImage
                                background-position: center
                                background-repeat: no-repeat
                                background-size: cover
            .fastInfoProduct
                width: 40%
                h3
                    text-align: center
                    margin-bottom: 10px
                    color: grey
                .countdown
                    display: flex
                    justify-content: center
                    align-items: center
                    padding: 5px 0
                    .time-section
                        display: flex
                        flex-direction: column
                        justify-content: center
                        align-items: center
                        color: blue
                        padding: 0 15px
                        user-select: none
                        .count
                            padding: 10px
                            border: 2px solid blue
                            font-size: 20px
                        .units
                            text-transform: lowercase
                            padding-top: 10px
                            font-size: 15px
                            color: gray
                .wraperInfoPrice
                    display: flex
                    justify-content: space-between
                    align-items: center
                    padding: 0 40px
                    margin-top: 50px
                    .infoPrice
                        div
                            display: flex
                            justify-content: space-between
                            .realPrice, .sale
                                font-size: 20px
                                color: grey
                            .realPrice
                                text-decoration: line-through
                            .sale
                                padding-left: 25px
                        .price
                            font-size: 30px
                            font-weight: 700
                            text-align: center
                    div
                        .saving
                            font-size: 20px
                            padding: 0 10px
                            color: grey
                            padding-bottom: 5px
                        .pay
                            width: 100%
                            button
                                width: 100%
                                height: 30px
                .wraperinfo
                    padding: 0 40px
                    margin-top: 50px
                    ul
                        li
                            font-size: 20px
                            padding: 10px 0
                            p
                                font-weight: 700
                                span
                                    font-weight: 400
        .detailFullProduct
            margin-top: 25px
            .description
                font-size: 20px
            h2
                margin-top: 25px
            ul
                li
                    padding: 5px 0
                    p
                        display: inline-block
                        font-size: 20px
                        font-weight: 700
                        background: blue
                        color: white
                        padding-left: 5px
                        span
                            background: white
                            color: black
                            font-weight: 400
                            padding-left: 5px
            .reviews
                border-top: 2px solid black
                margin-top: 10px
                h2
                   margin-top: 10px 
                .reviewsForm
                    display: flex
                    justify-content: center
                    align-items: center
                    padding-top: 15px
                    input
                        width: 80%
                        height: 50px
                    button
                        width: 20%
                        height: 54px
                    
    .cart
        .emptyBasket
            text-align: center
        .wrapperCartProduct
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            height: 110px
            padding: 5px 0
            .wrapperImg
                width: 250px
                overflow: hidden
                height: 110px
                img
                    position: relative
                    max-width: 100%
            p
                font-size: 25px
                font-weight: 500
                padding: 0 50px
            .divPriceProduct
                width: 210px
                display: flex
                justify-content: space-between
                align-items: center
                .addProductSubtract
                    display: flex
                    justify-content: space-between
                    align-items: center
                    width: 80px
                    .plus, .minus
                        font-size: 25px
                        cursor: pointer
                    .plus
                        color: green
                    .minus
                        color: red
                .priceCartProduct
                    font-size: 20px
                    font-weight: 500
                .exit
                    position: relative
                    right: 0px
        .total
            border-top: 1px solid black
            text-align: end
            font-size: 20px
            font-weight: 500
            padding-top: 10px
            margin-top: 10px
            
.footer
    width: 100%
    height: 300px
    margin-top: 20px 
    background-color: #c5c5c5
    .menufooter
        padding-top: 50px
        ul
            display: flex
            li
                width: 200px
                a
                    display: flex
                    align-items: center
                    text-decoration: none
                    color: black
                    i
                        font-size: 25px
                        padding: 0 10px
                    p
                        text-align: center


